<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= I18n.t('contact.subject') %></h1>
    <ul style="letter-spacing: 0.1em;">
      <% @contact_fields.each do |contact_field| %>
        <li>
          <b><%= contact_field.gsub('_', ' ').titleize %>:</b> <%= @contact[contact_field] %><br/>
        </li>
      <% end %>
    </ul>
  </body>
</html>